.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.info-center {
    display: grid;
    max-width: 800px;
    justify-items: center;
}

header h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 30px;
}


.info-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-box {   
    border: 5px solid white;
    border-radius: 5px;
    max-width: 800px;
    
}