.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
    padding-top: 50px;
    box-sizing: border-box;
}

.info-center {
    display: grid;
    max-width: 800px;
    justify-items: center;
}

header h1 {
    font-size: 5rem;
    text-align: center;
    margin-bottom: 30px;
}

.info-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.search-box {   
    border: 5px solid white;
    border-radius: 5px;
    padding: 15px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font-size: 1rem;
}

.patients {
    border: 3px solid hotpink;
    padding: 15px;
    width: 100%;
    height: 100%;
}

.patients * {
    padding: 0;
    margin: 0;
}