.patient-header {
    display: flex;
    /* border: 2px solid hotpink; */
    gap: 20px;
    padding: 15px;
    font-size: 30px;
}

.patient-graphs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}